.nav {
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }

}
.nav__item {
    width: 100%;
    text-align: center;
    @media screen and (min-width: 1024px){
        width: auto;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    
}
.nav__link {
    color: $main-text;
    display: block;
    padding: 10px 0;
}
