.section {
    padding-top: 70px;
    padding-bottom: 70px;
    &:nth-child(odd){
        background-color: $secondary-bg;
        //color:#fff;
    }
}
.section-title{
    margin-bottom: 70px;
    text-align: center;

    font-size: 26px;
    text-transform: uppercase;
}
.section-paragraph {
    margin-bottom: 20px;
}